/* This is the clinics stylesheet */

.clinics-section {
  padding-left: 10%;
  padding-right: 10%;
}

.clinic-purpose-div {
  margin-bottom: 25px;
}

.clinics-title {
  margin-bottom: 10px;
}

.clinics-text {
  color: rgb(51, 51, 51);
  text-align: justify;
  line-height: 1.3;
  margin-bottom: 8px;
}

.maps-container {
  margin-top: 20px;
  margin-bottom: 25px;
}

.map-div {
  display: flex;
  width: 100%;
}

.partnering-clinics-maps {
  width: 100%;
  height: 450px;
}

.clinic-list {
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
}

.clinic-info {
  display: flex;
  flex-direction: column;
}

.clinic-names {
  margin-bottom: 8px;
}

.info-list {
  padding-left: 30px;
}

.info-list li {
  color: rgb(51, 51, 51);
  line-height: 1.3;
}

.nested-info-list {
  padding-left: 20px;
}

.clinic-picture-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clinic-picture {
  width: 80%;
}

.clinic-qr-code-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clinic-qr-code {
  width: 80%;
}

.san-jose {
  width: 50%
}

