/* This is the footer stylesheet */

.footer-object {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #1c3079;
  margin-top: 50px;
  padding: 20px 10% 20px 10%;
}

.copyright {
  color: white;
}




/* Mobile compatibility */

@media (max-width: 1024px) {
  .footer-object {
    padding-left: 3%;
    padding-right: 3%;
  }
}