/* This is the header stylesheet */

.web-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1c3079;
  padding-left: 10%;
  padding-right: 10%;
  height: 90px;
  margin-bottom: 20px;
}

.title-div {
  display: flex;
  flex-direction: column;
}

.title, .title-oig {
  font-weight: 800;
  font-size: 28px;
  color: white;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}



/* Navigation Buttons and animations */

.li-anchor {
  text-decoration: none;
  margin-left: 8px;
  color: white;
  padding: 7px 16px;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
}

.li-anchor::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.3s ease;
}

.li-anchor:hover::before {
  width: 80%;
}



/* Active Class for page navigation buttons */

.nav-links a:is(:link, :active, :visited).active {
  color: black;
  background-color: white;
}



/* Toggle English/Spanish Button */

.toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;  /* ??? */
  margin-left: 25px;
  padding: 10px 20px;
  background-color: rgb(178, 132, 129);
  border-radius: 10px;
}

.toggle-container .toggle {
  position: relative;
  width: 72px;
  height: 36px;
  background-color: rgb(28, 48, 121);
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.3s ease-in-out;
}

.toggle-container .toggle .toggle-button {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.toggle-container .toggle-text {
  color: white;
  font-size: 16px;
  padding: 2px 4px;
  transition: 0.3s ease-in-out;
}

.toggle-container .toggle.switch {
  background-color: rgb(206, 17, 38);
}

.toggle-container .toggle.switch .toggle-button {
  left: 38px;
}

.toggle-container .toggle-english.underline {
  border-bottom: 1px solid white;
}

.toggle-container .toggle-spanish.underline {
  border-bottom: 1px solid white;
}




/* Mobile Hamburger menu */

.hamburger {
  display: block;
  position: relative;
  width: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active::before {
  transform: translate(-2px, 8px) rotate(-45deg) ;
}

.hamburger.is-active::after {
  transform: translate(-2px, -12px) rotate(45deg) ;
}



/* Mobile Navigation Menu */

.nav-mobile {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: 99;
  background-color: rgb(1, 14, 59);
  margin-top: 69px;
  padding-top: 10px;
  transition: 0.4s;
}

.nav-mobile.is-active {
  left: 0;
}



/* Mobile Compatibility */

@media (max-width: 1024px) {
  .web-header {
    padding-left: 3%;
    padding-right: 3%;
    height: 70px;
  }
  
  .title {
    font-size: 20px;
  }
  
  .title-oig {
    font-size: 20px;
  }

  .nav-desktop {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .li-nav {
    width: 94%;
  }

  .li-anchor {
    margin-left: 0;
    margin-bottom: 10px;
    padding: 8px 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
  }

  .toggle-container {
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 15px;
    width: 94%;
    padding: 10px 20px;
    background-color: rgb(178, 132, 129);
    border-radius: 10px;
  }

}

@media (min-width: 1024px) {
  .nav-mobile {
    display: none;
  }
  
  .hamburger {
    display: none;
  }

}

