# Files to ignore
.RData
.Rhistory
Gold Humanism Glasses Grant.Rproj
grant/ghhs-service-project-grant-instructions.pdf
grant/*.docx
supporting-files/H-Town CHAT Photo Release Form_IML.docx
supporting-files/OpenGate Vision Screening Survey.docx
supporting-files/PBT-AVS Eye Health Registration Form-English-Revised-2-24-20.pdf
supporting-files/PBT-AVS Eye Health Registration Form-Spanish-Revised-2-24-20.pdf
supporting-files/Am EYE Healthy Program Client Application Form-Adults-Spanish-9-8-21.docx
supporting-files/Am EYE Healthy Program Client Application Form-Adults-English-9-8-21.docx
data/Vision-Screening-Data_Gold-Humanism_RAW.xlsx

# Folders to ignore
pubs/
LOS/
.Rproj.user/